{% ckan_extends %}

{% block footer_links_ckan %}
	<li><a href="http://akvo.org/help/akvo-policies-and-terms-2/akvo-terms-of-use/">{% trans %} Terms of use {% endtrans %}</a></li>
	<li><a href="http://akvo.org/help/akvo-policies-and-terms-2/akvo-privacy-policy/">{% trans %} Privacy {% endtrans %}</a>
	<li><a href="http://akvo.org/user-contribution-policy/">{% trans %} User contribution policy {% endtrans %}</a></li>
	<li><a href="http://akvo.org/help/akvo-policies-and-terms-2/akvo-licensing-and-copyrights/">{% trans %} Licensing and copyrights {% endtrans %}</a></li>	
{% endblock %}

{% block footer_attribution %}
{% endblock %}

{% block footer_lang %}
{% endblock %}